{% extends 'layout/base.html' %}
{% block css %}
<link href="{{url_for('static', filename='css/chuyenBays.css')}}" , rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}
{% block js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
{% endblock %}
{% block content %}



{% if not chuyen %}
<div class="alert alert-danger">
    Không có chuyến bay
</div>
{% endif %}





{% if chuyen %}
{% if ex %}
<div class="alert alert-danger">
    {{ex}}
</div>
{% endif %}
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav nav nav-pills">
        <li class="nav-item active">
            <a class="nav-link active" data-toggle="pill" href="#home">Tìm Vé</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="pill" href="#khuHoi">Khứ hồi</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="pill" href="#motChieu">Một chiều</a>
        </li>
    </ul>
</nav>
<div class="tab-content">
    <div class="tab-pane container fade" id="home"></div>
    <div class="tab-pane container fade" id="khuHoi">
        <div class="wrapper bg-white">
            <form action="#">
                <div class="form-group border-bottom d-flex align-items-center justify-content-between flex-wrap">

                </div>
                <div class="form-group d-sm-flex margin">
                    <div class="d-flex align-items-center flex-fill me-sm-1 my-sm-0 my-4 border-bottom position-relative">
                        <div>
                            <p style="padding-right: 5%; margin-bottom: 0;">From</p>
                            <select class="form-select" aria-label="Default select example" id="op1">
                                <option selected>Chọn điểm đi</option>
                                {% for t in ten_diem_di %}
                                <option value="{{t}}">{{t}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="d-flex align-items-center flex-fill ms-sm-1 my-sm-0 my-4 border-bottom position-relative">
                        <div>
                            <p style="padding-right: 5%; margin-bottom: 0;">To</p>
                            <select class="form-select" aria-label="Default select example" id="op2">
                                <option selected>Chọn điểm đến</option>
                                {% for t in ten_diem_den %}
                                <option value="{{t}}">{{t}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group d-sm-flex margin">
                    <div class="d-flex align-items-center flex-fill me-sm1 my-sm-0 border-bottom position-relative">
                        <input type="date" required placeholder="Depart Date" class="form-control">
                        <div class="label" id="depart"></div>
                    </div>
                    <div class="d-flex align-items-center flex-fill ms-sm-1 my-sm-0 my-4 border-bottom position-relative">
                        <input type="date" required placeholder="Return Date" class="form-control">
                        <div class="label" id="return"></div>
                    </div>
                </div>
                <div class="form-group border-bottom d-flex align-items-center position-relative">
                    <input type="text" required placeholder="Traveller(s)" class="form-control">
                    <div class="label" id="psngr"></div>

                </div>
                <div class="form-group my-3">
                    <div class="btn btn-primary rounded-0 d-flex justify-content-center text-center p-3">Search Flights
                    </div>
                </div>
            </form>

        </div>
    </div>
    <div class="tab-pane container fade" id="motChieu">
        <div class="wrapper bg-white">
            <form action="#">
                <div class="form-group border-bottom d-flex align-items-center justify-content-between flex-wrap">

                </div>
                <div class="form-group d-sm-flex margin">
                    <div class="d-flex align-items-center flex-fill me-sm-1 my-sm-0 my-4 border-bottom position-relative">
                        <div>
                            <p style="padding-right: 5%; margin-bottom: 0;">From</p>
                            <select class="form-select" aria-label="Default select example" id="op1">
                                <option selected>Chọn điểm đi</option>
                                {% for t in ten_diem_di %}
                                <option value="{{t}}">{{t}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="d-flex align-items-center flex-fill ms-sm-1 my-sm-0 my-4 border-bottom position-relative">
                        <div>
                            <p style="padding-right: 5%; margin-bottom: 0;">To</p>
                            <select class="form-select" aria-label="Default select example" id="op2">
                                <option selected>Chọn điểm đến</option>
                                {% for t in ten_diem_den %}
                                <option value="{{t}}">{{t}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group d-sm-flex margin">
                    <div class="d-flex align-items-center flex-fill me-sm1 my-sm-0 border-bottom position-relative">
                        <input type="date" required placeholder="Depart Date" class="form-control">
                        <div class="label" id="depart"></div>
                    </div>
                </div>
                <div class="form-group border-bottom d-flex align-items-center position-relative">
                    <input type="text" required placeholder="Traveller(s)" class="form-control">
                    <div class="label" id="psngr"></div>

                </div>
                <div class="form-group my-3">
                    <div class="btn btn-primary rounded-0 d-flex justify-content-center text-center p-3">Search Flights
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
<br>
<br>
<form>
    <div class="list-group">
        {% for temp in lich_bay %}
        <a href="{{ url_for('ve', chuyen_bay_id = temp.chuyen_bay_id)}}" class="list-group-item list-group-item-action">
            <div style="display:flex;">
<!--                <div class="col-md-1 col-sm-12" style="margin-bot:auto">-->
<!--                    <br>-->
<!--                    <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="currentColor"-->
<!--                         class="bi bi-airplane-fill" viewBox="0 0 16 16">-->
<!--                        <path d="M6.428 1.151C6.708.591 7.213 0 8 0s1.292.592 1.572 1.151C9.861 1.73 10 2.431 10 3v3.691l5.17 2.585a1.5 1.5 0 0 1 .83 1.342V12a.5.5 0 0 1-.582.493l-5.507-.918-.375 2.253 1.318 1.318A.5.5 0 0 1 10.5 16h-5a.5.5 0 0 1-.354-.854l1.319-1.318-.376-2.253-5.507.918A.5.5 0 0 1 0 12v-1.382a1.5 1.5 0 0 1 .83-1.342L6 6.691V3c0-.568.14-1.271.428-1.849Z"/>-->
<!--                    </svg>-->
<!--                </div>-->
                <div class="col-md-2 col-sm-12">
                    <p class="h5">{{tuyen.diem_di}}</p>
                    {% if san_di %}
                    <p>{{san_di}}</p>
                    {% endif %}
                </div>
                <div class="col-md-1 col-sm-12">
                    <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" fill="currentColor"
                         class="bi bi-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                    </svg>
                </div>
                <div class="col-md-2 col-sm-12">
                    <p class="h5">{{tuyen.diem_den}}</p>
                    {% if san_den %}
                    <p>{{san_den}}</p>
                    {% endif %}
                </div>
                <div class="col-md-3 col-sm-12">
                    <p>thời gian khởi hành:</p>
                    {{temp.thoi_gian_khoi_hanh}}
                </div>
                <div class="col-md-2 col-sm-12">
                    <p class="text-bg-primary" style="text-align:center">Vé loại 1</p>
                    <p class="text-primary" style="text-align:center">{{ "{:,.0f}".format(gia_ve_normal) }} VNĐ</p>
                </div>
                <div class="col-md-2 col-sm-12">
                    <p class="bg-warning" style="text-align:center">Vé loại 2</p>
                    <p class="text-warning" style="text-align:center">{{ "{:,.0f}".format(gia_ve_normal) }} VNĐ</p>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</form>
{% endif %}

{% endblock %}