{% extends 'layout/base.html' %}
<link href="{{url_for('static', filename='css/index.css')}}" rel="stylesheet"/>
{% block content %}
<div class="test">ewqwearf</div>
<div style="height:100px; background-color: lightgray;"> Trieudz</div>
<div style="display:flex;flex-wrap: wrap;">
    <div class="col-md-2 col-sm-12" style="background-color: lightgray; margin: 1rem;height: 200px">test</div>
    <div class="col-md-2 col-sm-12" style="background-color: lightgray; margin: 1rem;height: 200px">test</div>
    <div class="col-md-2 col-sm-12" style="background-color: lightgray; margin: 1rem;height: 200px">test</div>
    <div class="col-md-2 col-sm-12" style="background-color: lightgray; margin: 1rem;height: 200px">test</div>
    <div class="col-md-2 col-sm-12" style="background-color: lightgray; margin: 1rem;height: 200px">test</div>
    <div class="col-md-2 col-sm-12" style="background-color: lightgray; margin: 1rem;height: 200px">test</div>
    <div class="col-md-2 col-sm-12" style="background-color: lightgray; margin: 1rem;height: 200px">test</div>
    <div class="col-md-2 col-sm-12" style="background-color: lightgray; margin: 1rem;height: 200px">test</div>
    <div class="col-md-2 col-sm-12" style="background-color: lightgray; margin: 1rem;height: 200px">test</div>
    <div class="col-md-2 col-sm-12" style="background-color: lightgray; margin: 1rem;height: 200px">test</div>
    <div class="col-md-2 col-sm-12" style="background-color: lightgray; margin: 1rem;height: 200px">test</div>
    <div class="col-md-2 col-sm-12" style="background-color: lightgray; margin: 1rem;height: 200px">test</div>
    <div class="col-md-2 col-sm-12" style="background-color: lightgray; margin: 1rem;height: 200px">test</div>
    <div class="col-md-2 col-sm-12" style="background-color: lightgray; margin: 1rem;height: 200px">test</div>
    <div class="col-md-2 col-sm-12" style="background-color: lightgray; margin: 1rem;height: 200px">test</div>
    <div class="col-md-2 col-sm-12" style="background-color: lightgray; margin: 1rem;height: 200px">test</div>
    <div class="col-md-2 col-sm-12" style="background-color: lightgray; margin: 1rem;height: 200px">test</div>
    <div class="col-md-2 col-sm-12" style="background-color: lightgray; margin: 1rem;height: 200px">test</div>
    <div class="col-md-2 col-sm-12" style="background-color: lightgray; margin: 1rem;height: 200px">test</div>
    <div class="col-md-2 col-sm-12" style="background-color: lightgray; margin: 1rem;height: 200px">test</div>
    <div class="col-md-2 col-sm-12" style="background-color: lightgray; margin: 1rem;height: 200px">test</div>
    <div class="col-md-2 col-sm-12" style="background-color: lightgray; margin: 1rem;height: 200px">test</div>
    <div class="col-md-2 col-sm-12" style="background-color: lightgray; margin: 1rem;height: 200px">test</div>
    <div class="col-md-2 col-sm-12" style="background-color: lightgray; margin: 1rem;height: 200px">test</div>
    <div class="col-md-2 col-sm-12" style="background-color: lightgray; margin: 1rem;height: 200px">test</div>
    <div class="col-md-2 col-sm-12" style="background-color: lightgray; margin: 1rem;height: 200px">test</div>
    <div class="col-md-2 col-sm-12" style="background-color: lightgray; margin: 1rem;height: 200px">test</div>
    <div class="col-md-2 col-sm-12" style="background-color: lightgray; margin: 1rem;height: 200px">test</div>
    <div class="col-md-2 col-sm-12" style="background-color: lightgray; margin: 1rem;height: 200px">test</div>
    <div class="col-md-2 col-sm-12" style="background-color: lightgray; margin: 1rem;height: 200px">test</div>
    <div class="col-md-2 col-sm-12" style="background-color: lightgray; margin: 1rem;height: 200px">test</div>
    <div class="col-md-2 col-sm-12" style="background-color: lightgray; margin: 1rem;height: 200px">test</div>
    <div class="col-md-2 col-sm-12" style="background-color: lightgray; margin: 1rem;height: 200px">test</div>
    <div class="col-md-2 col-sm-12" style="background-color: lightgray; margin: 1rem;height: 200px">test</div>
    <div class="col-md-2 col-sm-12" style="background-color: lightgray; margin: 1rem;height: 200px">test</div>
    <div class="col-md-2 col-sm-12" style="background-color: lightgray; margin: 1rem;height: 200px">test</div>
    <div class="col-md-2 col-sm-12" style="background-color: lightgray; margin: 1rem;height: 200px">test</div>
    <div class="col-md-2 col-sm-12" style="background-color: lightgray; margin: 1rem;height: 200px">test</div>
    <div class="col-md-2 col-sm-12" style="background-color: lightgray; margin: 1rem;height: 200px">test</div>
    <div class="col-md-2 col-sm-12" style="background-color: lightgray; margin: 1rem;height: 200px">test</div>
</div>
<h1>hello world</h1>
{% endblock%}